#
gen-bin/
.data/*
\#*\#

# Compiled Object files
*.exe
*.bin
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# TeX/LaTex output
*.out
*.toc
*.pdf
*.aux
*.log

# Erlang
*.beam

# other spcripts
*.pyc
*.pyo

# luajit
*.dasc.h
*.dasc.c
*.dash.h
*.dash.c

# clojure
.nrepl-port

# ecl
*.fas

# racket
*.rkt-mod.c

# haskell
*.hi

# wasm
*.wasm
*.waso.html
*.waso.js

# agda
*.agdai
MAlonzo/
