#-*- mode: sh -*-

PROGRAMS_DIR=$HOME/programs

function emscripten-env-setup() {
    source $PROGRAMS_DIR/emsdk/emsdk_env.sh
    echo "[EMSCRIPTEN] Emscripten is setup."
}

function emscripten-env-off() {
    echo "[EMSCRIPTEN] Emscripten cannot be unset."
}
