#-*- mode: sh -*-

function env-setup() {
    if [ -z $PYENV_ROOT ]; then
        export PYENV_ROOT="$HOME/.pyenv"
        string-prepend-to-var PATH $PYENV_ROOT/bin
        string-prepend-to-var PATH $PYENV_ROOT/libexec
        eval "$(pyenv init -)"
        eval "$(pyenv virtualenv-init -)"
        export PYENV_VIRTUALENV_DISABLE_PROMPT=1
    fi
    echo "[PYTHON] pyenv has been setup."
    return 1
}


function env-off() {
    string-remove-from-var PATH $PYENV_ROOT/bin
    string-remove-from-var PATH $PYENV_ROOT/libexec
    unset PYENV_ROOT
    unset PYENV_VIRTUALENV_DISABLE_PROMPT
    echo "[PYTHON] pyenv is now disabled."
}
