#-*- mode: sh -*-

function python-env-setup() {
    if [ -z $PYENV_ROOT ]; then
        export PYENV_ROOT="$HOME/.pyenv"
        string-prepend-to-var PATH $PYENV_ROOT/bin
        string-prepend-to-var PATH $PYENV_ROOT/libexec
        eval "$(pyenv init -)"
    fi
    echo "[PYTHON] pyenv has been setup."
    return 1
}


function python-env-off() {
    string-remove-from-var PATH $PYENV_ROOT/bin
    string-remove-from-var PATH $PYENV_ROOT/libexec
    unset PYENV_ROOT
    echo "[PYTHON] pyenv is now disabled."
}

#env PYTHON_CONFIGURE_OPTS="--enable-shared" pyenv install 3.4.2
