#-*- mode: sh -*-

DEFAULT_PERLBREW_ROOT=$HOME/perl5/perlbrew
PERLBREW_ROOT=$HOME/.perl5

if [[ -f $DEFAULT_PERLBREW_ROOT/etc/bashrc ]]; then
    PERLBREW_ROOT=$DEFAULT_PERLBREW_ROOT
else
    PERLBREW_ROOT=$HOME/.perl5
fi

function perl-env-setup() {
    source $PERLBREW_ROOT/etc/bashrc
    local PERL_ENV=${1-default}@${2-default}
    unset PERL5LIB
    perlbrew switch $PERL_ENV
    if [[ $? -eq 0 ]] ; then
        echo "[PERL] Perlbrew is switched to $PERL_ENV."
    else
        local EXIT=$?
        echo "[PERL] Perlbrew can't switch to $PERL_ENV."
        return $EXIT
    fi
}

function perl-env-off() {
    unset PERL5LIB
    perlbrew off
    echo "[PERL] Perlbrew is turned off."
}
