# -*- mode: sh -*-

#
# cmd arg1 |
# COMP_CWORD=2, COMP_WORDS=(cmd arg1 "")
# cmd arg1 ar|
# COMP_CWORD=2, COMP_WORDS=(cmd arg1 ar)
#

function _ds3_auto_completion_env() {
    local CUR=${COMP_WORDS[COMP_CWORD]}
    local PREV=${COMP_WORDS[COMP_CWORD-1]}

    if [[ $COMP_CWORD -gt 3 || ( $COMP_CWORD -eq 3 && $PREV != "off" ) ]]; then
        COMPREPLY=()
        return
    fi

    local MODULES=()
    for DIR in $(find $DS3_HOME/scripts -mindepth 1 -maxdepth 1 -type d); do
        if [[ -f $DIR/setup-env.rc ]]; then
            MODULES[${#MODULES[*]}]=${DIR##/*/}
        fi
    done

    local OFF="off"
    [[ $COMP_CWORD -ge 3 ]] && OFF=""
    COMPREPLY=($(compgen -W "$OFF ${MODULES[*]}" -- "$CUR"))
}


function _ds3_auto_completion_run() {
    local CUR=${COMP_WORDS[COMP_CWORD]}
    local PREV=${COMP_WORDS[COMP_CWORD-1]}

    if [[ $COMP_CWORD -eq 2 ]]; then
        local MODULES=()
        for DIR in $(find $DS3_HOME/scripts -mindepth 1 -maxdepth 1 -type d); do
            MODULES[${#MODULES[*]}]=${DIR##/*/}
        done
        COMPREPLY=($(compgen -W "${MODULES[*]}" -- "$CUR"))
        return
    fi

    if [[ $COMP_CWORD -eq 3 && -d $DS3_HOME/scripts/$PREV ]]; then
        local SCRIPTS=()
        for SCRIPT in $(find $DS3_HOME/scripts/$PREV -mindepth 1 -maxdepth 1 -type f -perm -u=x); do
            SCRIPTS[${#SCRIPTS[*]}]=${SCRIPT##/*/}
        done
        COMPREPLY=($(compgen -W "${SCRIPTS[*]}" -- "$CUR"))
        return
    fi
}


function _ds3_auto_completion_help() {
    _ds3_auto_completion_run "$@"
}


function _ds3_auto_completion() {
    COMPREPLY=()
    local CUR=${COMP_WORDS[COMP_CWORD]}
    local PREV=${COMP_WORDS[COMP_CWORD-1]}

    # command
    if [[ $COMP_CWORD -lt 2 ]]; then
        local COMMANDS=(env run help)
        COMPREPLY=($(compgen -W "${COMMANDS[*]}" -- "$CUR"))
        return
    fi

    # argument-1
    if [[ $COMP_CWORD -ge 2 ]]; then
        local CUR_CMD=$(tr [:upper:] [:lower:] <<< ${COMP_WORDS[1]})
        _ds3_auto_completion_$CUR_CMD
        return
    fi
}

complete -F _ds3_auto_completion ds3
