#-*- mode: sh -*-

function php-env-setup() {
    if [[ ! -f $HOME/.phpbrew/bashrc ]]; then
        phpbrew init
    fi
    # phpbrew configuration
    source $HOME/.phpbrew/bashrc &> /dev/null || true
    echo "[PHP] phpbrew enabled"
}

function php-env-off() {
    phpbrew switch-off
    echo "[PHP] phpbrew switched off"
}
