#-*- mode: sh -*-

function ocaml-env-setup() {
    if [[ ! -f ~/.opam/config ]]; then
        opam init
    fi
    # OPAM configuration
    source ~/.opam/opam-init/init.sh &> /dev/null || true
    echo "[OCAML] current env(by opam):"
    opam config var prefix
}

function ocaml-env-off() {
    echo "[OCAML] current env(by opam):"
    opam config var prefix
}
