#!/bin/bash
#-*- mode: sh -*-
#
# Environment Variables: https://golang.org/cmd/go/#hdr-Environment_variables
#
#  ds3 env go [version]
#  ds3 env go gopath [PATH]
#  ds3 env go -gopath [PATH]
#  ds3 env off go
#

function go-env-setup() {
    if [[ $(echo $1 | tr '[:upper:]' '[:lower:]') == 'gopath' ]]; then #cmd gopath
        local GP_ITEM=${2-$PWD}
        string-remove-from-var GOPATH ${GP_ITEM%/src/*}
        string-remove-from-var PATH ${GP_ITEM%/src/*}/bin
        string-prepend-to-var GOPATH ${GP_ITEM%/src/*}
        string-prepend-to-var PATH ${GP_ITEM%/src/*}/bin
        return
    elif [[ $(echo $1 | tr '[:upper:]' '[:lower:]') == '-gopath' ]]; then #cmd -gopath
        local GP_ITEM=${2-$PWD}
        string-remove-from-var GOPATH ${GP_ITEM%/src/*}
        string-remove-from-var PATH ${GP_ITEM%/src/*}/bin
        return
    fi

    go-env-off -silent

    case $(uname -m|tr '[:upper:]' '[:lower:]') in
        amd64|x84_64)
            export GOARCH=amd64
            ;;
        i*86)
            export GOARCH=386
            ;;
        arm)
            export GOARCH=arm
            ;;
        *)
            export GOARCH=amd64
            ;;
    esac
    export GOOS=$(uname -s|tr '[:upper:]' '[:lower:]')

    if [[ -d /usr/local/go-$1 ]]; then
        export GOROOT="/usr/local/go-$1"
    else
        local GO_ENV
        echo "[GO] Please select a GOROOT:"
        local SYS_GO=($($DS3_HOME/auxil/find-versions.pl $HOME/programs/go-))
        local SYS_GO_MACOSX_BREW=($($DS3_HOME/auxil/find-versions.pl "/usr/local/Cellar/go/"))
        select GO_ENV in "${SYS_GO[@]}" "${SYS_GO_MACOSX_BREW[@]}"; do
            [[ -d $GO_ENV ]] && { export GOROOT=$GO_ENV; break; }
        done
    fi

    # add $GOROOT/bin to PATH
    if [[ -n $GOROOT ]]; then
        string-prepend-to-var PATH "$GOROOT/bin"
        echo "[GO] using GOROOT $GOROOT"
    else
        go-env-off -silent
        echo "[GO] no GOROOT is set, all GO env variables are unset."
        return 1
    fi
}


function go-env-off() {
    [[ -n $GOROOT ]] && string-remove-from-var PATH "$GOROOT/bin"
    unset GOARCH
    unset GOOS
    unset GOROOT

    SAVED_IFS="$IFS"
    IFS=:
    local GOPATH_ITEMS=($GOPATH)
    IFS="$SAVED_IFS"
    for ITEM in "${GOPATH_ITEMS[@]}"; do
        string-remove-from-var PATH ${ITEM}/bin
    done
    unset GOPATH

    [[ $1 == "-silent" ]] || echo "[GO] Go env variables are unset."
}
