#!/bin/bash
#-*- mode: sh -*-
#
#  - GOROOT
#  - GOROOT_FINAL
#  - GOARCH: amd64/386/arm
#  - GOOS: linux/freebsd/netbsd/openbsd/dragonfly/solaris/plan9/darwin/windows
#  - GOHOSTOS
#  - GOHOSTARCH
#  - GOBIN, default: $GOROOT/bin
#  - GO386: 387/sse2
#  - GOARM: 5/6/7
#  - GOPATH
#
#  - GOROOT_BOOTSTRAP: bootstrap golang
#

#
#  ds3 env go [dev|version]
#  ds3 env go gopath [PATH]
#  ds3 env go -gopath [PATH]
#  ds3 env off go
#

function go-env-setup() {
    if [[ $(echo $1 | tr '[:upper:]' '[:lower:]') == 'gopath' ]]; then #cmd gopath
        local GP_ITEM=${2-$PWD}
        string-prepend-to-var GOPATH ${GP_ITEM%/src/*}
        string-prepend-to-var PATH ${GP_ITEM%/src/*}/bin
        return
    elif [[ $(echo $1 | tr '[:upper:]' '[:lower:]') == '-gopath' ]]; then #cmd -gopath
        local GP_ITEM=${2-$PWD}
        string-remove-from-var GOPATH ${GP_ITEM%/src/*}
        string-remove-from-var PATH ${GP_ITEM%/src/*}/bin
        return
    fi

    go-env-off -silent

    case $(uname -m|tr '[:upper:]' '[:lower:]') in
        amd64|x84_64)
            export GOARCH=amd64
            ;;
        i*86)
            export GOARCH=386
            ;;
        arm)
            export GOARCH=arm
            ;;
        *)
            export GOARCH=amd64
            ;;
    esac
    export GOOS=$(uname -s|tr '[:upper:]' '[:lower:]')

    if [[ $1 == "dev" ]]; then
        export GOROOT=$HOME/Work/opensrc/go
        string-prepend-to-var GOPATH "$HOME/Work/opensrc/go-tools"
        local SYSTEM_GO=$($DS3_HOME/auxil/find-versions.pl /usr/local/go- -max)
        [[ -n $SYSTEM_GO ]] && export GOROOT_BOOTSTRAP=$SYSTEM_GO
        echo "[GO] dev enviroment is set!"
    elif [[ -d /usr/local/go-$1 ]]; then
        export GOROOT="/usr/local/go-$1"
    else
        local GO_ENV
        echo "[GO] Please select a GOROOT:"
        local SYS_GO=($($DS3_HOME/auxil/find-versions.pl /usr/local/go-))
        local SYS_GO_MACOSX_BREW=($($DS3_HOME/auxil/find-versions.pl "/usr/local/Cellar/go/"))
        select GO_ENV in $HOME/Work/opensrc/go "${SYS_GO[@]}" "${SYS_GO_MACOSX_BREW[@]}"; do
            [[ $GO_ENV == $HOME/Work/opensrc/go ]] && { ds3 env go dev; return; }
            [[ -d $GO_ENV ]] && { export GOROOT=$GO_ENV; break; }
        done
    fi

    # add $GOROOT/bin to PATH
    if [[ -n $GOROOT ]]; then
        string-prepend-to-var PATH "$GOROOT/bin"
        echo "[GO] using GOROOT $GOROOT"
    else
        go-env-off -silent
        echo "[GO] no GOROOT is set, all GO env variables are unset."
        return 1
    fi
}


function go-env-off() {
    [[ -n $GOROOT ]] && string-remove-from-var PATH "$GOROOT/bin"
    unset GOARCH
    unset GOOS
    unset GOROOT
    unset GOROOT_BOOTSTRAP

    SAVED_IFS="$IFS"
    IFS=:
    local GOPATH_ITEMS=($GOPATH)
    IFS="$SAVED_IFS"
    for ITEM in "${GOPATH_ITEMS[@]}"; do
        string-remove-from-var PATH ${ITEM}/bin
    done
    unset GOPATH

    [[ $1 == "-silent" ]] || echo "[GO] Go env variables are unset."
}
