#-*- mode: sh -*-

function kernel-env-setup() {
    local ENVS=($(ls $DS3_HOME/scripts/kernel/build.env-v*))
    for (( i=0; i < ${#ENVS[*]}; i++ )); do
        ENVS[$i]=${ENVS[i]##*build.env-}
    done
    echo "[KERNEL] Please select an environment to use:"
    select ENV in "${ENVS[@]}"; do
        if [[ -z $ENV ]]; then
            echo "[KERNEL] No environment selected."
            return 1;
        else
            echo "[KERNEL] Set environment to ${ENV}."
            source $DS3_HOME/scripts/kernel/build.env-$ENV
            break;
        fi
    done
}

function kernel-env-off() {
    unset BUILDDIR
    unset KBUILD_OUTPUT
    unset INSTALL_PATH
    unset INSTALL_MOD_PATH
    if [[ -n "${OLD_PS1}" ]]; then
        export PS1="${OLD_PS1}"
    fi

    echo "[KERNEL] kernel env is off."
}
