#-*- mode: sh -*-

PROXY_PORT=${1-1087}

function env-setup() {
    export http_proxy=http://127.0.0.1:$PROXY_PORT/
    export https_proxy=$http_proxy
    echo "http_proxy  is set to $http_proxy"
    echo "https_proxy is set to $https_proxy"
}

function env-off() {
    unset http_proxy
    unset https_proxy
    echo "http_proxy and https_proxy are unset."
}
