# -*- mode: perl -*-
package Vault;

use warnings;
use strict;

use Exporter;

our @ISA = qw(Exporter);
our @EXPORT = qw($moments_doc_id $quip_auth_key);

our $moments_doc_id = "0UTpAfM8GvHd";
our $quip_auth_key = "Bearer <token>";

1;
