# -*- mode: perl -*-
package Vault;

use warnings;
use strict;

use Exporter;

our @ISA = qw(Exporter);
our @EXPORT = qw($DS3_USERNAME $DS3_PASSWORD);

our $DS3_USERNAME = "...";
our $DS3_PASSWORD = "...";

1;
