*~
*.o
*.out
*.lo
Makefile
Makefile.in
config.status
config.sub
configure

depcomp
install-sh
libtool
ltmain.sh
missing
.deps
.libs
stamp-h1
COPYING
INSTALL
aclocal.m4
ar-lib
autom4te.cache/
compile
config.guess

#exe file
test/clibs/clib_test
