name: Mirror Repositories

on:
  # push:
  schedule:
    - cron: '0 */12 * * *'

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        cat:
          - lang-native
          - lang-app
          - lang-theory
          - others
    steps:
      - uses: actions/checkout@v1.0.0
      - name: Mirror Repositories
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REPO_ACCESS_TOKEN: ${{ secrets.REPO_ACCESS_TOKEN }}
        run: bash ./scripts/tools/mirror-to-github.sh ${{ matrix.cat }}
